// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: hsl(28, 80%, 52%);
$green: #63d68a;
$gray: #0e0000;
$light-gray: #f4f4f4;

// var(--green)
