// Specific CSS for your home-page

.vh100 {
  height: 100vh;
}

.organize {
  display: flex;
  align-items: center;
  padding-left: 100px;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://res.cloudinary.com/dtn8c7o7m/image/upload/v1624550420/dog_wall_ygtt3i.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  &-div {
    width: 430px;
  }
  .title {
    color: white;
  }
  .content {
    color: white;
  }
}

.bg-discover-white {
  // background-color: white;
}
.home-discover {
  // background-color: white;
  display: grid;
  grid-gap: 8px;
  justify-content: center;
  align-content: center;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;

  .card-discover {
    display: flex;
    flex-direction: column;
    img {
      height: 400px;
      width: 400px;
      border-radius: 10px;
      object-fit: cover;
    }
    .text {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      // align-items: center;
    }
    .content {
      opacity: 0.5;
    }
  }
}

@media (max-width: 992px) {
  .home-discover {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .home-discover {
    grid-template-columns: 1fr;
  }
}
