<div class="group_banner d-flex">
  <div class="event_walk_photo w-100">
    <%= cl_image_tag @event.walk.photo.key, class: "event-img" %>
  </div>
  <div class="event_map">
    <div id="mapShow" class=""
     style="width:400px; height: 400px;"
     data-coords="<%= coords %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
