<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://wallpapercave.com/wp/wp2036042.jpg);">
  <div class="container">
    <h1><strong>MeetMyDog</strong></h1>
    <p>Je sais pas quoi mettre ici</p>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Ville ou adresse" aria-label="Search" style="width: 400px;">
      <button class="btn btn-flat" type="submit">Va chercher!</button>
    </form>
  </div>
</div>
