<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dtn8c7o7m/image/upload/v1624550420/dog_wall_ygtt3i.jpg);"> %>
<div class="banner">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div>
      <h1><strong>MeetMyDog</strong></h1>
      <p>Trouvez des balades qui ont du chien</p>
      <div class="search-form">
        <%= form_tag sites_path, class: "d-flex banner__search-bar", method: :get do %>
          <%= text_field_tag :query, params[:query], id: "banner-search", class: "form-control me-2 form-no-border", placeholder: "Ville ou adresse" %>
          <button class='btn btn-round-green'><i class="fas fa-search"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
