<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dtn8c7o7m/image/upload/v1624550420/dog_wall_ygtt3i.jpg);">
  <div class="container">
    <h1><strong>Meet My Dog</strong></h1>
    <p>Trouvez des balades qui ont du chien</p>
    <%= form_tag sites_path, class: "d-flex banner__search-bar", method: :get do %>
      <%= text_field_tag :query, params[:query], id: "banner-search", class: "form-control me-2", placeholder: "Ville ou adresse" %>
      <%= submit_tag "Va chercher!", class: "btn btn-flat ms-2" %>
    <% end %>
  </div>
</div>
