<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://wallpapercave.com/wp/wp2036042.jpg);">
  <div class="container">
    <h1><strong>MeetMyDog</strong></h1>
    <p>Je sais pas quoi mettre ici</p>
    <%= form_tag sites_path, class: "d-flex banner__search-bar", method: :get do %>
      <%= text_field_tag :query,
    params[:query],
    id: "banner-search",
    class: "form-control me-2",
    style: "width: 400px",
    placeholder: "Ville ou adresse"
  %>
      <%= submit_tag "Va chercher!", class: "btn btn-flat ms-2" %>
    <% end %>
  </div>
</div>
