<div class="chat-group m-3">
  <h6><%= event.name %></h6>
  <p class="date"><%= event.date %></p>
  <% event.users.each do |user| %>
    <%= cl_image_tag user.photo.key, class: "avatar" %>
  <% end %>
</div>
