<% if user_signed_in? %>
  <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content d-flex flex-row">
        <div class="chat-list">
          <% @events.each do |event| %>
            <%= render "/shared/chat_group", event: event %>
          <% end %>
        </div>
        <div class="w-100">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chat METTRE NOM DU GROUPE</h5>
            <a type="button" class="text-green" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
          </div>
          <div class="modal-body">
            ICI LES MESSAGES
          </div>
          <div class="modal-footer">
            ICI LE FORM ENVOYER MESSAGES
            <button type="button" class="btn btn-flat">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
