<div class="dashboard-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://www.setaswall.com/wp-content/uploads/2017/09/Park-Wallpaper-36-1920x1080.jpg);">
    <% current_user.dogs.each do |dog| %>
      <%= cl_image_tag(dog.photo.key, :transformation=>[{:height=>300, :width=>300, :crop=>"fill"}], class: "avatar-XL") %>
    <% end %>
</div>
