<%# MODAL DOG CARD %>
<div class="modal fade" id="dogCardModal" tabindex="-1" aria-labelledby="dogCardModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="dog_name"></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <div class= "modal-photo">
           <img class="avatar-dog-modal" id="dog_photo">
          </div>
          <div class="infos">
            <div class="info-elements">
              <div>Sexe:</div>
             <div><p id="dog_gender"></p></div>
            </div>
            <div class="info-elements">
              <div>Age:</div>
             <div><p id="dog_age"></p></div>
            </div>
            <div class="info-elements">
              <div>Taille:</div>
             <div><p id="dog_size"></p></div>
            </div>
            <div class="info-elements">
              <!-- <div>Tempérament:</div> -->
             <div><p id="dog_temperaments"></p></div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
