<div class="row p-3 shadow-sm align-items-center mb-4">
  <div class="col-4">
    <h4 class="mb-0"><%= event.name %></h4>
  </div>
  <div class="col-3">
    Prevue le 01/01/2000 à 14h
  </div>
  <div class="col-2">
    Toutous: 1/4
  </div>
  <div class="col-3">
    <%= link_to "Voir la page du groupe", event_path(event), class: "btn btn-flat"%>
  </div>
</div>
