<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lewagon" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonlille/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <em>This Webapp was made with a lot of</em>
    <i class="fas fa-heart"></i>
    <em>by Christian.H, Thomas.P and Thomas.B,
      <a href="https://www.lewagon.com/fr/lille" target="_blank">Le Wagon Lille</a>#Batch 625
    </em>
    <a href="https://twitter.com/lewagonlille?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/school/le-wagon/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
