<%= render "/shared/banner" %>
<div class="container">
  <h2 class="text-center my-3"><strong>Qu'est ce que Meet My Dog ?</strong></h2>
  <div class="home-cards">
    <%= render '/shared/home_card', title: 'Découvrez Meet My dog', description: 'Blablabla', img: "http://www.petelevage.com/blog/wp-content/uploads/2016/04/chien-heureux.jpg"%>
    <%= render '/shared/home_card', title: '+ De Balades', description: 'Blablabla', img: "https://upload.chien.com/img_global/24-comportement-education-du-chien/psychologie-du-chien-communiquer-interagir-avec-son-chien/_light-621-promener-son-chien-pourquoi-ou-quand-et-comment.jpg" %>
    <%= render '/shared/home_card', title: '+ De Copains', description: 'Blablabla', img: "https://www.blogwoufwouf.com/wp-content/uploads/2020/10/126094777_s.jpg" %>
  </div>
</div>
<div class="vh100"></div>
