<%= render "/shared/banner" %>
<div class="container">
  <h2 class="text-black my-4 pt-4"><strong>Explorez les lieux</strong></h2>
  <div class="home-cards">
    <%= render '/shared/home_card', title: 'Lille', img: "https://fichier0.cirkwi.com/image/photo/circuit/800x500/185289/fr/1.jpg?1591626447" %>
    <%= render '/shared/home_card', title: 'Nice', img: "https://res.cloudinary.com/dtn8c7o7m/image/upload/v1625129816/Nice-promenade-des-Anglais-walking-tour-13_afpe4i.jpg" %>
    <%= render '/shared/home_card', title: 'Paris', img: "https://live.staticflickr.com/306/19810277400_c17f20e0ce_b.jpg"%>
  </div>
  <div class="organize mt-4">
    <div class="organize-div">
      <h4 class="title"><strong>REJOIGNEZ MEETMYDOG</strong></h4>
      <p class="content">Organisez ou rejoignez une balade pour de nouvelles rencontres !</p>
    </div>
  </div>
</div>
