<%= render "/shared/banner" %>
<div class="container">
  <h2 class="text-black text-center my-4 pt-4"><strong>Explorez les lieux</strong></h2>
  <div class="home-cards">
    <%= render '/shared/home_card', title: 'Lille', img: "https://fichier0.cirkwi.com/image/photo/circuit/800x500/185289/fr/1.jpg?1591626447" %>
    <%= render '/shared/home_card', title: 'Nice', img: "https://res.cloudinary.com/dtn8c7o7m/image/upload/v1625129816/Nice-promenade-des-Anglais-walking-tour-13_afpe4i.jpg" %>
    <%= render '/shared/home_card', title: 'Paris', img: "https://live.staticflickr.com/306/19810277400_c17f20e0ce_b.jpg"%>
  </div>
  <div class="organize mt-4">
    <div class="organize-div">
      <h3 class="title"><strong>"Partout où il y a un malheureux, Dieu envoie un chien."</strong></h3>
      <p class="content">Alphonse De Lamartine</p>
    </div>
  </div>
  <h2 class="text-black text-center my-4 pt-4"><strong>L'experience MeetMyDog</strong></h2>
  <div class="home-discover mt-4">
    <div class="card-discover">
      <img src='https://res.cloudinary.com/dtn8c7o7m/image/upload/v1624879106/chien-heureux_nege4f.jpg' alt='Decouvre MeetMyDog'>
      <div class="text">
        <p class="h5 mb-0"><strong>Découvrir des lieux</strong></p>
        <p class="content">Découvrez des lieux de balades près de chez vous</p>
      </div>
    </div>
    <div class="card-discover">
      <img src='https://res.cloudinary.com/dtn8c7o7m/image/upload/v1625148204/Cs4sJ12XEAAxTw9_nbf9qs.jpg' alt='Decouvre MeetMyDog'>
      <div class="text">
        <p class="h5 mb-0"><strong>Organiser des balades</strong></p>
        <p class="content">Créez ou rejoignez un groupe</p>
      </div>
    </div>
    <div class="card-discover">
      <img src='https://res.cloudinary.com/dtn8c7o7m/image/upload/v1625141512/2-dogs-running-next-to-each-other-across-a-grass-field-with-a-rubber-ball-in-one-mouth_b_usvi3x_vx8t3m.jpg' alt='Decouvre MeetMyDog'>
      <div class="text">
        <p class="h5 mb-0"><strong>Se faire des amis</strong></p>
        <p class="content">Partagez un moment unique</p>
      </div>
    </div>
  </div>
</div>
