<%= render "/shared/banner" %>
<div class="container">
  <h2 class="text-black my-4 pt-4"><strong>Explorez les lieux</strong></h2>
  <div class="home-cards">
    <%= render '/shared/home_card', title: 'Lille', img: "https://fichier0.cirkwi.com/image/photo/circuit/800x500/185289/fr/1.jpg?1591626447" %>
    <%= render '/shared/home_card', title: 'Nice', img: "https://lh3.googleusercontent.com/proxy/5Ag2xwrnwJhT6AJb-cPkMiSy8S5IYYB0_j5GCwqnyxCBb1jaXs0Zwrez7rbDcgDtZqYyZqWbo_aIO1Pw_I5SlE3BcVN9DDaX58O_mGUkzV0wEWzTyBifr3efOovYA_2vkjXv9AoEWm8OsOvMY9lQHA" %>
    <%= render '/shared/home_card', title: 'Paris', img: "https://live.staticflickr.com/306/19810277400_c17f20e0ce_b.jpg"%>
  </div>
  <div class="organize mt-4">
    <div class="organize-div">
      <h4 class="title"><strong>REJOIGNEZ MEETMYDOG</strong></h4>
      <p class="content">Organisez ou rejoignez une balade pour de nouvelles rencontres !</p>
    </div>
  </div>
</div>
