<%= render "/shared/banner" %>
<div class="container">
  <h2 class="text-center my-3"><strong>Qu'est ce que Meet My Dog ?</strong></h2>
  <div class="home-cards">
    <%= render '/shared/home_card', title: 'Découvrez Meet My Dog', description: "Meet My Dog vous propose de découvrir ou de re-découvrir des lieux de balade près de chez vous! Le plus ? Vous permettre d'organiser des balades avec d'autres propriétaires de chiens!", img: "http://www.petelevage.com/blog/wp-content/uploads/2016/04/chien-heureux.jpg"%>
    <%= render '/shared/home_card', title: '+ De Balades', description: "Pour chaque lieu de balade référencé sur Meet My Dog, plusieurs itinéraires de balades vous sont proposés afin de s'adapter à vos besoins et à ceux de votre/vos chien(s).", img: "https://upload.chien.com/img_global/24-comportement-education-du-chien/psychologie-du-chien-communiquer-interagir-avec-son-chien/_light-621-promener-son-chien-pourquoi-ou-quand-et-comment.jpg" %>
    <%= render '/shared/home_card', title: '+ De Copains', description: "L'expérience Meet My Dog prend tout son sens si vous participez ou organisez une balade sur l'un des itinéraires proposé. Réalisez vos balades avec d'autres propriétaires de chiens et admirez votre boule de poils se faire plein de nouveaux amis!", img: "https://www.blogwoufwouf.com/wp-content/uploads/2020/10/126094777_s.jpg" %>
  </div>
</div>
