.banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/43/dog-1867604_1280.jpg);
  h1 {
    margin: 0;
    color: black;
    font-size: 70px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: black;
    opacity: 0.9;
    // text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
  }
}
