.chat-list {
  border-right: 1px solid #dee2e6;
  padding: 10px;
  .active {
    background-color: $green;
    color: white;
  }
}

.chat-group {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 10px;
  h6 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  .date {
    font-size: 12px;
    opacity: 0.3;
  }
  &:hover {
    cursor: pointer;
  }
}

.message_content {
  width: 100%;
}

.messages-body {
  height: 400px;
  overflow-x: hidden; //horizontal
  overflow-y: scroll; //vertical
  transform: rotate(180deg);
  direction: rtl;
}

.message {
  transform: rotate(180deg);
  direction: ltr;
}
