.dashboard-banner {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  height: 400px;
  display: flex;
  justify-content: center;
}

.add-dog-icon {
  margin: 30px;
  display: block;
}
