h2 {
  color: $green;
}

.info-elements {
  display: flex;
  justify-content: center;
  div {
    margin-right: 16px;
  }
}

.modal-photo {
  display: flex;
  justify-content: center;
}

.infos {
  margin-top: 20px;
}

.dog-temperament {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: $green;
  color: white;
  margin: 8px;
}
