.home-cards {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  align-content: center;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 992px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

.home-card {
  height: 300px;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  &__title {
    color: white;
  }

  &__description {
    color: white;
    display: none;
  }

  &:hover &__description {
    transition: transform 3s ease;
    display: block;
  }
}
