.fa-comment-dots {
  font-weight: bold;
  font-size: 30px;
  // color: $green;
}

.fa-paw {
  font-size: 30px;
  // color: $green;
}

.fa-dog {
  font-size: 50px;
  color: $green;
}

.fa-edit {
  font-size: 30px;
  color: #1bcb7f;
}

.fa-times-circle {
  font-size: 30px;
  color: #ee4d72;
}
