.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: $green !important;
}

.navbar-dashboard {
  color: $green;
  margin: 0;
  &:hover {
    color: $green;
  }
}

.algolia-places {
  width: auto;
}
