.text-green {
  color: $green;
  &:hover {
    color: $green;
  }
}

.text-grey {
  color: black;
  opacity: 0.3;
  &:hover {
    color: black;
  }
}

.text-black {
  color: black;
  &:hover {
    color: black;
  }
}
