.new-walk {
  .walk_name {
    .form-control {
      background-color: transparent;
      border: none;
      font-size: 40px;
    }
  }
  .walk_description {
    .form-control {
      background-color: transparent;
      border: none;
      // font-size: 40px;
    }
  }
}
