<% if @site.reviews.blank? %>
  <h2 class="text-center my-4">Aucun avis sur cette balade.</h2>
<% else %>
  <div id="reviews" class="review-cards w-100">
    <h2 class="text-center my-4"><%= @site.reviews.size %><%= " " %><%= "avis"  %></h2>
    <% @site.reviews.each do |review| %>
      <%= render "reviews/review_card", review: review %>
    <% end %>
  <% end %>
</div>
